[Unit]
Description=ZenitiumDNS DNS-Server
Documentation=file:///usr/share/doc/zenitiumdns/README.Debian.md
Wants=network-online.target nss-lookup.target
After=network-online.target
Before=nss-lookup.target

[Service]
Type=simple
User=zenitiumdns
Group=zenitiumdns
SyslogIdentifier=zenitiumdns

WorkingDirectory=/opt/zenitiumdns
ReadWritePaths=/etc/zenitiumdns /var/log/zenitiumdns

Environment=OPENSSL_ENABLE_SHA1_SIGNATURES=1
Environment=DNS_SERVER_ADMIN_PASSWORD_FILE=/etc/zenitiumdns/admin.password
EnvironmentFile=-/etc/default/zenitiumdns

ExecStart=/opt/zenitiumdns/ZenitiumDns /etc/zenitiumdns

Restart=always
RestartSec=10
TimeoutStopSec=30
LimitNOFILE=1048576

LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=adjtimex clock_adjtime
SystemCallErrorNumber=EPERM

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

UMask=0077

[Install]
WantedBy=multi-user.target
